
*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 2rem;

}
.containerr{
    width: 65%;
    margin: 0 !important;
}
.heading{
    padding: 0px 25px 10px 10px;
    font-family: Arial;
    font-size: 30px;
    text-align:center;
}
.cssdiv{
    /* border: 2px; */
    background-color: #E5C9C5;
    display: flex;
    padding:1rem;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    
    }
.cssform{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    /* background: red; */
}  
.cssform>*{
    padding: 0.5rem 0.4rem;
    border: 0.5px solid pink;
}
.cssform>button{
    color: white;
    cursor: pointer;
}
.cssul{
    border: 1px;
    width: 100% !important;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
ul#list{
    width: 100% !important;
}

.bt2css,.bt3css,.bt4css{
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    border: none;
    width: 2.5rem !important;
    aspect-ratio: 1;
    cursor: pointer;
}
